
header {
    color:white;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: white;
}
.menu {
    float: right;
}
p {
    margin: 5px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
}



.top {
    background-color:rgba(221, 153, 201, 0.74);
}


.margin{
    padding-left: 100px;
    padding-right: 100px;
}

body {
 margin:10px 0;
 overflow-x:hidden ;

}

h5{
    margin:0;
}

nav ul {
    list-style-type: none;

}
nav ul a {
    color: black;
    font-size: 150%;
}
footer {
    background-color:#d7d1c5;
    padding: 10px;
    text-align: center;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: space-between;
  }
  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: left;
  }
  .item1 {
    grid-row-start: 1;
    grid-row-end: 4;
    max-width:80%;
    height:auto;
    display: flex;
    padding-right: -10px;
    margin-left: -30px;
  }
  .item2 {
    font-style: italic;
    font-size: 23px;
  }